{% extends 'layouts/main.html' %}

{% block content %}
    <style>
        .product {
            width: 70%;
            margin-left: 15%;
        }
        .reviews {
            width: 70%;
            margin-left: 15%;
        }
        .review {
            background: #242b2e;
            color: #fff;
            margin-bottom: 20px;
            padding: 10px;
        }
        .create_review {
            width: 70%;
            margin-left: 15%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <div class="product">
        <div class="img">
            <img src="/media/{{ product.image }}/" alt="">
        </div>
        <div class="info">
            <div style="display: flex; justify-content: space-between">
                <h1>{{ product.title }}</h1>
                <h1>Seller: {{ product.author.username }}</h1>
            </div>
            <h4>Price: {{ product.price }} som</h4>
            <h5>Specifications: {{ product.description }}</h5>
            <div class="categories">
                {% for category in categories %}
                    <p>Category: {{ category.title }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="create_review">
        {% if user %}
            <h5>Reviews:</h5>
            <form action="/products/{{ product.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-primary" value="Оставить комментарий">
            </form>
        {% endif %}
    </div>
    <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                <p class="author">{{ review.author.username }}</p>
                <p class="text">{{ review.text }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}