{% extends 'layouts/main.html' %}

{% block content %}
    <style type="text/css">
        .categories {
            display: flex;
            justify-content: space-between;
            margin-left: 10%;
            width: 80%;
            flex-wrap: wrap;
        }
        .category {
            display: flex;
            justify-content: space-between;
            width: 20%;
        }
        .card_body > img {
            width: 35px;
        }
    </style>
    <div class="categories">
        {% for category in categories %}
            <div class="category" style="width: 100%;">
                <div class="card_body">
                    <img src="/media/{{ category.icon }}" alt="">
                    <h3>
                        <a href="/products/?category_id={{ category.id }}">
                            {{ category.title }}
                        </a>
                    </h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}